img[alt=Jamkit_Sample] { width:130px; }
img[alt=Template_Screenshot] { width:250px; border-style:solid; border-width:1px; border-color:#ddd;}
img[alt=Sample_Screenshot] { width:250px; border-style:solid; border-width:1px; border-color:#ddd;}

.video-wrap {
	max-width: 480px;
    margin-top: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
