img[alt=Jamkit_Screenshot_1] { width:130px; }
img[alt=Jamkit_Screenshot_2] { width:130px; }
img[alt=Jamkit_Screenshot_3] { width:130px; }
img[alt=Jamkit_Screenshot_4] { width:130px; }
img[alt=Jamkit_Screenshot_5] { width:130px; }
img[alt=Jamkit_Screenshot_6] { width:130px; }
img[alt=HelloWorld_Screenshot] { width:250px; border-style:solid; border-width:1px; border-color:#ddd;}
img[alt=YouTubeChannel_Screenshot] { width:250px; border-style:solid; border-width:1px; border-color:#ddd; }